<div class="card">
    <button class="edit-content" onclick="editCard({id})">Editar</button>
    
    <a class="close-container" onclick="deleteCard({id})">
        <div class="leftright"></div>
        <div class="rightleft"></div>
        <label class="close">Delete</label>
    </a>

    <h3 class="card-title" name="title-{id}">{title}</h3>

    <div class="card-content">
        <p name="content-{id}">{details}</p>
    </div>
    

    <form name="deleteCard-{id}" method="post">
        <input type="hidden" name="deleteNote" value="{id}" /> 
    </form>

</div>